#player{
    display: flex;
    justify-content: start;
    border-radius: 10px;
}

#dealer{
    display: flex;
    border-radius: 10px;
}

#rules{
    display: flex;
}

#rules b {
    margin-block-start: 0.5em;
    margin-block-end:0.5em;
    margin-right:0.5em;
}

#rules p {
    margin-block-start: 0.5em;
    margin-block-end:0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #B30000;
}
th, td {
    border: 1px solid #fff700;
    padding: 8px;
    background-color: #B30000;
}
th {
    background-color: #B30000;
    text-align: left;
}

#body {
/*    background: #660011; */
    color: #fff700;
    background-image: url("bg2.jpeg");
}

